{
    margin: 0;
    padding: 0;
}
#turtles
{
        background: linear-gradient(rgba(0,0,0,0.5),#37687d), url(Images/5.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;
        border-bottom-left-radius: 3%;
        border-bottom-right-radius: 3%;
}
.logo{
    width: 150px;
    height: 100px;
    margin: auto;
    float: left;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 120px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
    transition: o.4s ease-in-out;
}
ul li a:hover{
    color: rgb(71, 242, 242);
}
.search{
     width: 330px;
     float: left;
     margin-left: 600px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(30, 73, 95);
    margin-top:33px;
    color: aliceblue;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: rgb(15, 88, 91);
    border: 2px solid rgb(31, 120, 122);
    margin-top: 33px;
    color: aliceblue;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: beige;
    position: relative;
}
.par{
    padding: 20px;
    padding-bottom: 25px;
    font-family: 'arial';
    letter-spacing: 1.2px;
    line-height: 30px;
}
.h1{ 
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-left: 2%;
    margin-top: 9%;
    letter-spacing: 2px;


}   
.cn{
    width: 160px;
    height: 40px;
    background: rgb(34, 186, 181);
    border: none;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 10px;
    cursor: pointer;
}
.cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background-color: azure;
}
.content span{
    color: rgb(92, 247, 239);
}
.Sri{
    font-family: Arial;
    font-size: 40px;
    color: rgb(23, 96, 96);

}
.content2{
    width: 1200px;
    height: auto;
    margin: auto;
    color: beige;
    position: relative;
}
.h2{
    font-family: 'Times New Roman';
    font-size: 45px;
    margin-left: 67%;
    margin-top: -41%;
    letter-spacing: 2px; 
}
.par3{
    padding: 20px;
    padding-bottom: 25px;
    font-family: 'arial';
    letter-spacing: 1.2px;
    line-height: 30px;

    margin-left: 65%;
    height: 90%;
}
